* {
    margin: 0;
}


#add-sign {
    width: 210px;
    height: 160px;
    margin-left: 865px;
    margin-top: -20px;
}

#tabela-ispiti{
    width: 50%;
    margin-left: 28%;
}

#input-src{
    width: 360px;
    margin-left: 41.5%;
    margin-top: 1%;
}